:root{
  --side: 20vw;
}
html {
  padding: 0;
  margin : 0 ;
  height: 100%;
  width: 100%;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/666/722/548/video-games-the-legend-of-zelda-link-s-awakening-wallpaper-preview.jpg);
  /* background-image: url(https://c4.wallpaperflare.com/wallpaper/379/892/940/pokemon-underwater-underwater-anime-pokemon-hd-art-wallpaper-preview.jpg); */
  background-size: cover;
 }

 body {
  padding: 0 var(--side);
  margin : 0 ;
  height: 100%;
  width: calc(100% - var(--sides));
  }
